*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    text-align: center;
    font-size: 17rem;
    margin: 0;
    padding: 0;
    
}
main section h1{
    width: 800px;
    height: 80px;
    margin: 50px;
}

main section p{
    border: 1px solid #111;
    font-size: 2rem;
    height: 100px;
    padding: 10px;
    
}